{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>
    <div class="containerh">
      <a class="logo" href="{% url 'posts:list'%}"><img src="/static/src/home-7-48.png"></a>
      <nav class="menu">
        <ul>
          <li>
            {% if user.get_username %}
            <div class="username_field btnh">
            logged as: <span class="user_name" id="auth">{{ user.get_username }}</span>
            </div>

          </li>
          <li>
            <form action="{% url 'posts:create'%}">
              <button  class="btnh">Create post</button>
            </form>
          </li>
          {% else %}
          <li>
            <form action="{% url 'accounts:registration'%}">
              <button  class="btnh">Sign up</button>
            </form>
          </li>
          <li>
            <form action="{% url 'accounts:login'%}">
              <button  class="btnh">Log in</button>
            </form>
          </li>
          {% endif %}
          {% if user.get_username %}
          <li>
            <form class="logout_form" action="{% url 'accounts:logout'%}" method="post">
              {% csrf_token %}
              <button type="submit" class="btnh">Log out </button>
            </form>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <div class="main">
    <!--a name="top"></a-->

    <div class="wrapper">


      {% block content %}
      {% endblock %}

    </div>

  </div>

  <footer>
    {%block anchor%}
      <p><a href="#top" class="btnf">Наверх</a><p>
    {%endblock%}
  </footer>

</body>
{%block reg%}
<script src="/static/js/reg.js"></script>
{%endblock%}
{%block comm%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/comm.js"></script>
<script src="/static/js/update_comm.js"></script>
{%endblock%}

</html>
